// Global font from google font 
// @import moving to nuxt.config.js at line link
html,
body {
  overflow-x:hidden;
  // font-family: 'Open Sans';
  font-family: 'Poppins', sans-serif;
}

body.swal2-shown > [aria-hidden="true"]{
  transition: 0.1s filter;
  filter: blur(10px);
}

.animated-icon2{
	span{
		background-color: $bg-primary!important;
	}
}



.fade-in-link{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  &:hover{
  	animation: fadeIn 5s;
  	-webkit-animation: fadeIn 5s;
  	-moz-animation: fadeIn 5s;
  	-o-animation: fadeIn 5s;
  	-ms-animation: fadeIn 5s;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}